h1 {
    color: rgb(212, 0, 255);
}

body {
    background-color: black;
}

.playerInfo {
    color: white;
}

.boxshadow {
    box-shadow: 25px 25px 15px 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 50px;
    padding: 25px;
    margin: 25px;
    font-size: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: green;
}